<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ '/assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ '/assets_landing/css/main.css' | relative_url }}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ '/assets/css/ie8.css' | relative_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ '/assets/css/ie9.css' | relative_url }}" /><![endif]-->
	<meta property="og:title" content="Angga Eriansyah Setiawan">
	<meta property="og:description" content="Code Enthusiast | Code Hard | Play Hard | Repeat.">
	<meta property="og:image" content="https://anggaes.github.io/assets_landing/images/bg.jpg">
	<meta property="og:url" content="https://anggaes.github.io">
</head>
